.navbar{
    @include flexbox();        
    @include flex-flow(row wrap);
    @include justify-content(space-between);
    @include align-items(center);
    font-size:1.2rem;
    a{        
        text-decoration: none;
    }
    ul, ol{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .navbar-menu{
        @include flexbox();        
        // @include flex-direction(row);
        // @include flex-wrap(wrap);
        @include flex-flow(row wrap);
        @include justify-content(flex-end);
        li{
            position: relative;
        }
        > li {
            display:inline-block;
        }
        a{
            padding: 0px 15px;
            display: block;
            line-height: 60px;
        }
        ul{
            position: absolute;
            top:100%;
            width:240px;
            a{
                text-align: center;
                line-height: 40px;
            }
            display: none;
        }
    }
}