.navbar{
    @include flexbox();        
    @include flex-flow(row wrap);
    @include justify-content(space-between);
    @include align-items(center);
    font-size:1.2rem;
    a{        
        text-decoration: none;
    }
    ul, ol{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .navbar-menu{
        @include flexbox();        
        // @include flex-direction(row);
        // @include flex-wrap(wrap);
        @include flex-flow(row wrap);
        @include justify-content(flex-end);
        li{
            position: relative;
        }
        > li {
            display:inline-block;
        }
        a{
            padding: 0px 7px;
            display: block;
            line-height: 60px;
        }
        ul{
            position: absolute;
            top:100%;
            width:240px;
            a{
                text-align: center;
            }
        }
    }
}
.navbar-default{
    background-color:rgba(20, 20, 20, 1);
    ul ul{
        background-color:rgba(10, 10, 10, 1);
    }
    *{
        color:#BFBDBD;
    }
    a{
        @include transition(color .5s);
    }
    a:hover{
        color:#FFF;
    }
}