// @include transition(background-color .8s);
.navbar-default{
    background-color: transparentize($navbar_bg, .0);
    @include transition-property(transform);
    @include transition-duration(3s);
    @include box-shadow(0px, 1px, 1px, transparentize($navbar_color, .2));
    *,a:visited,a:active{
        color: $navbar_color;
    }
    .navbar-menu ul{
        background-color: $navbar_color;
        @include box-shadow(0px, 1px, 1px, $navbar_bg);
        *,a:visited,a:active{
            color: $text_color;
        }
    }
    .navbar-menu > li.hover{
        a{ background: $navbar_color; color: $navbar_bg; }
        ul {
            display: block;
            li.hover a{
                background: transparentize($navbar_bg, .9);                
            }
        }
    }

    &.navbar-fixed.navbar-fixed-active{        
        position: fixed;
        top:0;
        left:0;
        right:0;
        z-index: 10001;        
        background-color: transparentize($navbar_bg, .2);
    }
}
.body-default{
    background-color: $main_bg_color;
    // background: transparent url(~images/body-bg.jpg) no-repeat 0 0 scroll;
}
.footer-default{
    background-color:$navbar_bg;
    color: $navbar_color;
}