// @include transition(background-color .8s);
.navbar-default{
    background-color: transparentize($secondary_color, .0);
    @include transition-property(transform);
    @include transition-duration(3s);
    *,a:visited,a:active{
        color:#FFF;
    }
    .navbar-menu ul{
        background-color: #FFF;
        @include box-shadow(3px, 3px, 3px, $secondary_color);
        *,a:visited,a:active{
            color: $text_color;
        }
    }
    .navbar-menu > li.hover{
        a{ background: #FFF; color: #222; }
        ul {
            display: block;
            li.hover a{
                background: transparentize($secondary_color, .9);                
            }
        }
    }

    &.navbar-fixed.navbar-fixed-active{        
        position: fixed;
        top:0;
        left:0;
        right:0;
        z-index: 10001;        
        background-color: transparentize($secondary_color, .2);
    }
}
.body-default{
    background: #f5f5f5;
    // background: transparent url(~images/body-bg.jpg) no-repeat 0 0 scroll;
}
.footer-default{
    background-color:$secondary_color;
    color:#FFF;
}