html{
    font-size: 16px;
    @include for-size(mobile){
        font-size:16px;
    }
}
body{
    font-size:1rem;    
    word-wrap:break-word;
    color:$text_color;
    font-family: Verdana,sans-serif;    
}

h1{
    font-size:2rem;
}
h2{
    font-size:1.6rem;
}
h3{
    font-size:1.4rem;
}
h4,h5,h6{
    font-size:1.2rem;
}

img{
    max-width:100%;
    height:auto;
}

p{
    line-height: 1.4rem;
}

.container{
    padding:0 15px;
}

#primary-content{
    display: flex;
    flex-direction: column;
    height: 100%;    
}
#primary{
    flex: 2;
}
#primary-sidebar{
    flex: 1;
}