@import 'sass/_vars';
@import 'sass/_mixins';
@import 'sass/_normalize';
@import 'sass/_breakpoints';

@import 'sass/_main';

/*extra libs*/
@import 'css/sample.css';
// @import '~highlight.js/styles/atom-one-dark';
@import '~prismjs/themes/prism-coy';

/*custom*/
code{
    display: block;
    min-height: 19em;
    overflow-y: auto;
    overflow-x: hidden;
}